<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
<table>
    <tr>
        <th>Country</th>
        <th>Province</th>
        <th>LatestCase</th>
    </tr>
    <tr data-th-each="state : ${states}">
        <td data-th-text="${state.country}"></td>
        <td data-th-text="${state.state}">------</td>
        <td data-th-text="${state.latestTotalCases}"></td>
    </tr>
</table>

</body>

</html>